
/*----------------------------*\
	Typography
\*----------------------------*/

body {
    padding:0;
    margin:0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
    font-weight: 700;
    margin: 0 0 10px;
  }
  
  a {
    color: #2B2D42;
    font-weight: 1000;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
  }